@model BookWorm.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Your order is confirmed!</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Payment) *@
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.Loyalty_points) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Loyalty_points) *@
        @* </dd> *@
    </dl>
</div>